@import "tailwindcss";

@theme inline {
  --font-karla: var(--font-geist-karla);
  --font-satoshi: var(--font-satoshi);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  --color-blue-100: #2c325d;
  --color-light-100: #fff8fb;
  --color-dark-100: #1d073a;
  --color-gray-20: rgba(108, 102, 133, 0.2);
  --color-gray-25: rgba(108, 102, 133, 0.25);
  --color-gray-40: rgba(58, 56, 77, 0.04);
  --color-gray-100: #6c6685;
  --color-pink-10: #ffeef5;
  --color-pink-100: #ff4393;
  --color-orange-100: #fe6247;
  --text-28: 1.75rem;
  --shadow-10: 0px 6px 24px 0px rgba(0, 0, 0, 0.1);
  --shadow-15: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
  --shadow-20: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
  --shadow-inset-20:
    0px 10px 40px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 1px #d7d5dd inset;
  --radius-20: 20px;
  --radius-18: 18px;
  --background-image-radial-100:
    radial-gradient(
      79.36% 59.94% at 101.94% -1.83%,
      #ffe5f0 0%,
      #fff 42%,
      rgba(0, 0, 0, 0) 42%
    ),
    radial-gradient(
      60.29% 53.62% at 0% 100%,
      #ffd8e9 0%,
      #fff 42%,
      rgba(0, 0, 0, 0) 42%
    );
}

@layer base {
  *,
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-geist-karla);
  }

  html {
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  html.dark {
    background-color: #000000f8;
  }

  body {
    opacity: 1;
    transition: opacity 0.35s ease;
  }

  body.fading {
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
    pointer-events: none;
  }

  /* For IE10 */
  select::-ms-expand {
    display: none;
  }
  button {
    @apply cursor-pointer;
  }
  h1 {
    @apply -tracking-[2px];
  }
}

@layer components {

  /*! pagination */
  .pagination {
    @apply flex justify-between items-center py-5 gap-5 border-t border-gray-20;

    .nav-button {
      @apply border border-gray-25 rounded-4xl py-2.5 px-5 flex items-center justify-center gap-0.5 text-sm font-semibold text-dark-100;
    }

    div {
      @apply flex items-center gap-2;

      span {
        @apply text-gray-100 px-2;
      }

      button {
        @apply w-8 h-8 flex items-center justify-center rounded-full text-gray-100 hover:bg-pink-10;
      }
    }
  }

  /*! video detail */
  .transcript {
    @apply flex flex-col gap-4;

    li {
      @apply flex gap-2;

      h2 {
        @apply text-sm font-bold text-pink-100;
      }

      p {
        @apply text-sm font-medium text-gray-100;
      }
    }
  }

  .metadata {
    @apply flex flex-col gap-6;

    article {
      @apply flex flex-col gap-3;

      h2 {
        @apply text-sm font-medium text-gray-100;
      }

      p {
        @apply text-lg font-semibold text-dark-100;
      }
    }
  }

  .video-info {
    @apply flex flex-col gap-6 lg:max-w-[350px] xl:max-w-[410px] w-full;

    nav {
      @apply flex gap-6 items-center border-b border-gray-20;

      button {
        @apply capitalize text-sm font-semibold text-gray-100 pb-4 hover:text-pink-100 transition-all duration-300;
      }
    }
  }

  /*! video player */
  .video-player {
    @apply relative aspect-video w-full rounded-2xl bg-[#000] flex-none;

    div {
      @apply absolute inset-0 flex items-center justify-center bg-gray-900 rounded-2xl;

      p {
        @apply text-white text-lg font-semibold;
      }
    }
  }

  /*! video detail header */
  .detail-header {
    @apply flex justify-between gap-5 flex-col md:flex-row;

    .user-info {
      @apply flex flex-col gap-2.5;

      h1 {
        @apply text-3xl font-bold text-dark-100;
      }

      figure {
        @apply gap-1 flex items-center;

        button {
          @apply flex items-center gap-2 text-gray-100 text-sm font-semibold;
        }

        figcaption {
          @apply flex items-center gap-1 text-gray-100 text-sm font-semibold;
        }
      }
    }

    .cta {
      @apply flex gap-4 items-center;

      .user-btn {
        @apply flex items-center gap-4;

        .delete-btn {
          @apply border border-gray-25 rounded-4xl py-2.5 px-5 text-sm font-semibold text-orange-100;
        }

        .bar {
          @apply w-px h-full bg-gray-25;
        }

        .update-stats {
          @apply border border-gray-20 rounded-[28px] py-2.5 px-4;

          p {
            @apply text-sm font-semibold text-dark-100;
          }
        }
      }
    }
  }

  .visibility-trigger {
    @apply flex items-center gap-2 justify-between border border-gray-20 rounded-[28px] py-2.5 px-4;

    div {
      @apply flex items-center gap-1;

      p {
        @apply text-sm font-semibold text-dark-100 capitalize;
      }
    }
  }
}
